// Mixins for any project
//
// Feel free to add any more mixins of your own where appropriate.
//

//----Text Rendering
// To define better text rendering on larger type and headings.
@mixin text-rendering {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}


//// Accessibility-friendly hiding
// So any major elements that require to be hidden are hidden in a friendly way for Screen Readers and Search Engines.
@mixin hidden {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

//----Bringing back invisible elements
// As per the above mixin, this brings back the hidden elements into the fold.
@mixin visible {
	position: relative;
	top: auto;
	left: auto;
}

//----Hidden text
// For elements that require text to be hidden on an element.
@mixin hidden-text {
	text-indent: -9999px;
	overflow: hidden;
}

//----Viewport settings
// While this isn't official yet, it's as well to provide a prefixed version.
// Change the argument to what you see fit! Some designs can be viewed at certain dimensions. Default is for RWD layouts.
@mixin viewport($width: device-width) {
	@-o-viewport {
		width: $width;
	}

	@-ms-viewport {
		width: $width;
	}

	@viewport {
		width: $width;
	}
}

//----Clearing
// For clearing full width elements. See "clear floats" on http://css-tricks.com/pseudo-element-roundup/
@mixin clearing {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}

