{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    {% compress css %}
    {% endcompress %}
    {% compress css %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body class="{% block bodyclass %}{% endblock %}" id="{% block bodyid %}{% endblock %}">
    {% block content %}{% endblock content %}

    {% compress js %}
    {% endcompress %}
    {% compress js %}
        {% block extra_js %}{% endblock %}
    {% endcompress %}
</body>
</html>
